.c-item-input-vehicle {
    --border-color: var(--ion-color-red);
}

.c-item-input-repair {
    --border-color: var(--ion-color-orange);
}

.c-note-italic {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.6;
    font-style: italic;
}

.c-input-field-item {
    margin-bottom: 2%;
}

.c-vehicle-margin-top {
    margin-top: 4%;
}
