/* Colors */

:root {
    --default: #50c8ff;
    --purple: #6f0396;
    --red: #ff4961;
    --orange: #ffd534;

    --ion-color-default: #3dc2ff;
    --ion-color-default-rgb: 61, 194, 255;
    --ion-color-default-contrast: #ffffff;
    --ion-color-default-contrast-rgb: 255, 255, 255;
    --ion-color-default-shade: #36abe0;
    --ion-color-default-tint: #50c8ff;

    --ion-color-orange: #ffc409;
    --ion-color-orange-rgb: 255, 196, 9;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0, 0, 0;
    --ion-color-orange-shade: #e0ac08;
    --ion-color-orange-tint: #ffca22;

    --ion-color-red: #eb445a;
    --ion-color-red-rgb: 235, 68, 90;
    --ion-color-red-contrast: #ffffff;
    --ion-color-red-contrast-rgb: 255, 255, 255;
    --ion-color-red-shade: #cf3c4f;
    --ion-color-red-tint: #ed576b;

    --ion-color-purple: #6f0396;
    --ion-color-purple-rgb: 111, 3, 150;
    --ion-color-purple-contrast: #ffffff;
    --ion-color-purple-contrast-rgb: 255, 255, 255;
    --ion-color-purple-shade: #620384;
    --ion-color-purple-tint: #7d1ca1;
}

.ion-color-default {
    --ion-color-base: var(--ion-color-default) !important;
    --ion-color-base-rgb: var(--ion-color-default-rgb) !important;
    --ion-color-contrast: var(--ion-color-default-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-default-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-default-shade) !important;
    --ion-color-tint: var(--ion-color-default-tint) !important;
}

.ion-color-purple {
    --ion-color-base: var(--ion-color-purple) !important;
    --ion-color-base-rgb: var(--ion-color-purple-rgb) !important;
    --ion-color-contrast: var(--ion-color-purple-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-purple-shade) !important;
    --ion-color-tint: var(--ion-color-purple-tint) !important;
}

.ion-color-red {
    --ion-color-base: var(--ion-color-red) !important;
    --ion-color-base-rgb: var(--ion-color-red-rgb) !important;
    --ion-color-contrast: var(--ion-color-red-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-red-shade) !important;
    --ion-color-tint: var(--ion-color-red-tint) !important;
}

.ion-color-orange {
    --ion-color-base: var(--ion-color-orange) !important;
    --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
    --ion-color-contrast: var(--ion-color-orange-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-orange-shade) !important;
    --ion-color-tint: var(--ion-color-orange-tint) !important;
}

/* End Colors */

/* Input Elements */

.c-input-field-default {
    --border-color: var(--default);
}

.c-input-field-purple {
    --border-color: var(--purple);
}

.c-input-field-red {
    --border-color: var(--red);
}

.c-input-field-orange {
    --border-color: var(--orange);
}

/* End Input Elements */
