.c-entries-month {
    font-weight: 500;
    margin-left: 2%;
}

.c-entries-month-icon {
    margin-left: 6%;
    font-size: 20px;
}

.line-horizontal {
    background-color: #000;
    width: 2px;
    height: 2px;
    display: inline-block;
    margin: 0px;
}
