/* .c-input-suffix {
    position: absolute;
    right: 0;
    bottom: 6%;
    font-size: 15px;
} */

.c-input-column .md ion-input {
    /* margin-bottom: -5% !important; */
}

.c-input-column .ios ion-input {
    /* margin-top: 5% !important; */
}
