.c-icon-customization {
    /* font-size: 30px; */
    position: absolute;
    bottom: 0;
    opacity: 0.7;
}

.c-icon-customization-date-picker {
    position: absolute;
    bottom: 10px;
    opacity: 0.7;
}

.c-icon-customization-select {
    position: absolute;
    bottom: 10px;
    opacity: 0.7;
}

.c-icon-customization-with-helper-text {
    position: absolute;
    bottom: 24px;
    opacity: 0.7;
}

.c-field-grid {
    padding-left: 5% !important;
}

.MuiFormHelperText-root {
    text-align: end !important;
}
